<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Student Login | Portal</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 
  <h2>Student Login</h2>
 
  <form action="../control/login.php" method="POST">
    <label>Student Email/Name:</label>
    <input type="text" name="studentId" placeholder="Enter Email or Name" required />
 
    <label>Password:</label>
    <input type="password" name="pass" placeholder="Enter Password" required />

    <button type="submit">Login</button>

    <div class="register-link">
      <a href="register.html">New Student? Register Here</a>
    </div>
    
    <div style="text-align:center; margin-top:15px; border-top: 1px solid #ccc; padding-top: 10px;">
      <a href="index.html" style="text-decoration:none; color:#003366; font-weight:bold;">🏠 Back to Home</a>
    </div>
  </form>
</BODY>
</HTML>